--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: a_rtchat_customuser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.a_rtchat_customuser (
    password character varying(128),
    last_login timestamp with time zone,
    is_superuser boolean,
    userid character varying(150) NOT NULL,
    username character varying(300) NOT NULL,
    first_name character varying(200) NOT NULL,
    middle_name character varying(200) NOT NULL,
    last_name character varying(200) NOT NULL,
    is_active boolean,
    is_staff boolean
);


ALTER TABLE public.a_rtchat_customuser OWNER TO postgres;

--
-- Name: a_rtchat_customuser_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.a_rtchat_customuser_groups (
    id bigint NOT NULL,
    customuser_id character varying(150) NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.a_rtchat_customuser_groups OWNER TO postgres;

--
-- Name: a_rtchat_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.a_rtchat_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.a_rtchat_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: a_rtchat_customuser_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.a_rtchat_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id character varying(150) NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.a_rtchat_customuser_user_permissions OWNER TO postgres;

--
-- Name: a_rtchat_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.a_rtchat_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.a_rtchat_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: a_rtchat_groupchat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.a_rtchat_groupchat (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.a_rtchat_groupchat OWNER TO postgres;

--
-- Name: a_rtchat_groupchat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.a_rtchat_groupchat ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.a_rtchat_groupchat_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: a_rtchat_groupchat_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.a_rtchat_groupchat_members (
    id bigint NOT NULL,
    groupchat_id bigint NOT NULL,
    customuser_id character varying(150) NOT NULL
);


ALTER TABLE public.a_rtchat_groupchat_members OWNER TO postgres;

--
-- Name: a_rtchat_groupchat_members_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.a_rtchat_groupchat_members ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.a_rtchat_groupchat_members_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: a_rtchat_message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.a_rtchat_message (
    id bigint NOT NULL,
    message text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    read boolean NOT NULL,
    is_pinned boolean NOT NULL,
    deleted boolean NOT NULL,
    deleted_by_id character varying(150),
    group_id bigint,
    reply_to_id bigint,
    sender_id character varying(150) NOT NULL,
    private_chat_id bigint
);


ALTER TABLE public.a_rtchat_message OWNER TO postgres;

--
-- Name: a_rtchat_message_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.a_rtchat_message ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.a_rtchat_message_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: a_rtchat_privatechat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.a_rtchat_privatechat (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user1_id character varying(150) NOT NULL,
    user2_id character varying(150) NOT NULL
);


ALTER TABLE public.a_rtchat_privatechat OWNER TO postgres;

--
-- Name: a_rtchat_privatechat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.a_rtchat_privatechat ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.a_rtchat_privatechat_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id character varying(150) NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Data for Name: a_rtchat_customuser; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: a_rtchat_customuser_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.a_rtchat_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: a_rtchat_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.a_rtchat_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Data for Name: a_rtchat_groupchat; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.a_rtchat_groupchat (id, name, created_at) FROM stdin;
4	agents	2025-08-28 16:32:18.869487+03
3	@testing_personnel	2025-08-28 15:37:18.044585+03
\.


--
-- Data for Name: a_rtchat_groupchat_members; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: a_rtchat_message; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: a_rtchat_privatechat; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.a_rtchat_privatechat (id, created_at, user1_id, user2_id) FROM stdin;
1	2025-08-28 14:19:03.667412+03	UTEL/CC/UGCL-1131/2025	UTEL/CC/UGCL-0728/2022
2	2025-08-28 14:53:33.156594+03	UTEL/CC/UGCL-1131/2025	UTEL/FIELD/UGCL-0002/2025
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	a_rtchat	customuser
7	a_rtchat	groupchat
8	a_rtchat	privatechat
9	a_rtchat	message
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: a_rtchat_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.a_rtchat_customuser_groups_id_seq', 1, false);


--
-- Name: a_rtchat_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.a_rtchat_customuser_user_permissions_id_seq', 1, false);


--
-- Name: a_rtchat_groupchat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.a_rtchat_groupchat_id_seq', 4, true);


--
-- Name: a_rtchat_groupchat_members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.a_rtchat_groupchat_members_id_seq', 277, true);


--
-- Name: a_rtchat_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.a_rtchat_message_id_seq', 99, true);


--
-- Name: a_rtchat_privatechat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.a_rtchat_privatechat_id_seq', 2, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 36, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 15, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 9, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 20, true);


--
-- Name: a_rtchat_customuser_groups a_rtchat_customuser_groups_customuser_id_group_id_5fefe1ac_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_customuser_groups
    ADD CONSTRAINT a_rtchat_customuser_groups_customuser_id_group_id_5fefe1ac_uniq UNIQUE (customuser_id, group_id);


--
-- Name: a_rtchat_customuser_groups a_rtchat_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_customuser_groups
    ADD CONSTRAINT a_rtchat_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: a_rtchat_customuser a_rtchat_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_customuser
    ADD CONSTRAINT a_rtchat_customuser_pkey PRIMARY KEY (userid);


--
-- Name: a_rtchat_customuser_user_permissions a_rtchat_customuser_user_customuser_id_permission_9e340173_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_customuser_user_permissions
    ADD CONSTRAINT a_rtchat_customuser_user_customuser_id_permission_9e340173_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: a_rtchat_customuser_user_permissions a_rtchat_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_customuser_user_permissions
    ADD CONSTRAINT a_rtchat_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: a_rtchat_customuser a_rtchat_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_customuser
    ADD CONSTRAINT a_rtchat_customuser_username_key UNIQUE (username);


--
-- Name: a_rtchat_groupchat_members a_rtchat_groupchat_membe_groupchat_id_customuser__fd075b35_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_groupchat_members
    ADD CONSTRAINT a_rtchat_groupchat_membe_groupchat_id_customuser__fd075b35_uniq UNIQUE (groupchat_id, customuser_id);


--
-- Name: a_rtchat_groupchat_members a_rtchat_groupchat_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_groupchat_members
    ADD CONSTRAINT a_rtchat_groupchat_members_pkey PRIMARY KEY (id);


--
-- Name: a_rtchat_groupchat a_rtchat_groupchat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_groupchat
    ADD CONSTRAINT a_rtchat_groupchat_pkey PRIMARY KEY (id);


--
-- Name: a_rtchat_message a_rtchat_message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_message
    ADD CONSTRAINT a_rtchat_message_pkey PRIMARY KEY (id);


--
-- Name: a_rtchat_privatechat a_rtchat_privatechat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_privatechat
    ADD CONSTRAINT a_rtchat_privatechat_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: a_rtchat_customuser_groups_customuser_id_0db019f4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_customuser_groups_customuser_id_0db019f4 ON public.a_rtchat_customuser_groups USING btree (customuser_id);


--
-- Name: a_rtchat_customuser_groups_customuser_id_0db019f4_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_customuser_groups_customuser_id_0db019f4_like ON public.a_rtchat_customuser_groups USING btree (customuser_id varchar_pattern_ops);


--
-- Name: a_rtchat_customuser_groups_group_id_303faf8d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_customuser_groups_group_id_303faf8d ON public.a_rtchat_customuser_groups USING btree (group_id);


--
-- Name: a_rtchat_customuser_user_customuser_id_a5b84827_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_customuser_user_customuser_id_a5b84827_like ON public.a_rtchat_customuser_user_permissions USING btree (customuser_id varchar_pattern_ops);


--
-- Name: a_rtchat_customuser_user_permissions_customuser_id_a5b84827; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_customuser_user_permissions_customuser_id_a5b84827 ON public.a_rtchat_customuser_user_permissions USING btree (customuser_id);


--
-- Name: a_rtchat_customuser_user_permissions_permission_id_8bcf382d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_customuser_user_permissions_permission_id_8bcf382d ON public.a_rtchat_customuser_user_permissions USING btree (permission_id);


--
-- Name: a_rtchat_customuser_userid_a7a90376_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_customuser_userid_a7a90376_like ON public.a_rtchat_customuser USING btree (userid varchar_pattern_ops);


--
-- Name: a_rtchat_customuser_username_6e75b394_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_customuser_username_6e75b394_like ON public.a_rtchat_customuser USING btree (username varchar_pattern_ops);


--
-- Name: a_rtchat_groupchat_members_customuser_id_30070a47; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_groupchat_members_customuser_id_30070a47 ON public.a_rtchat_groupchat_members USING btree (customuser_id);


--
-- Name: a_rtchat_groupchat_members_customuser_id_30070a47_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_groupchat_members_customuser_id_30070a47_like ON public.a_rtchat_groupchat_members USING btree (customuser_id varchar_pattern_ops);


--
-- Name: a_rtchat_groupchat_members_groupchat_id_ebe9b5fb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_groupchat_members_groupchat_id_ebe9b5fb ON public.a_rtchat_groupchat_members USING btree (groupchat_id);


--
-- Name: a_rtchat_message_deleted_by_id_32520802; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_message_deleted_by_id_32520802 ON public.a_rtchat_message USING btree (deleted_by_id);


--
-- Name: a_rtchat_message_deleted_by_id_32520802_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_message_deleted_by_id_32520802_like ON public.a_rtchat_message USING btree (deleted_by_id varchar_pattern_ops);


--
-- Name: a_rtchat_message_group_id_fdebf6a0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_message_group_id_fdebf6a0 ON public.a_rtchat_message USING btree (group_id);


--
-- Name: a_rtchat_message_private_chat_id_f7c81f06; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_message_private_chat_id_f7c81f06 ON public.a_rtchat_message USING btree (private_chat_id);


--
-- Name: a_rtchat_message_reply_to_id_a2c96e93; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_message_reply_to_id_a2c96e93 ON public.a_rtchat_message USING btree (reply_to_id);


--
-- Name: a_rtchat_message_sender_id_19fe9695; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_message_sender_id_19fe9695 ON public.a_rtchat_message USING btree (sender_id);


--
-- Name: a_rtchat_message_sender_id_19fe9695_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_message_sender_id_19fe9695_like ON public.a_rtchat_message USING btree (sender_id varchar_pattern_ops);


--
-- Name: a_rtchat_privatechat_user1_id_6da2d818; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_privatechat_user1_id_6da2d818 ON public.a_rtchat_privatechat USING btree (user1_id);


--
-- Name: a_rtchat_privatechat_user1_id_6da2d818_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_privatechat_user1_id_6da2d818_like ON public.a_rtchat_privatechat USING btree (user1_id varchar_pattern_ops);


--
-- Name: a_rtchat_privatechat_user2_id_9026c976; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_privatechat_user2_id_9026c976 ON public.a_rtchat_privatechat USING btree (user2_id);


--
-- Name: a_rtchat_privatechat_user2_id_9026c976_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX a_rtchat_privatechat_user2_id_9026c976_like ON public.a_rtchat_privatechat USING btree (user2_id varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_admin_log_user_id_c564eba6_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6_like ON public.django_admin_log USING btree (user_id varchar_pattern_ops);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: a_rtchat_customuser_groups a_rtchat_customuser__customuser_id_0db019f4_fk_a_rtchat_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_customuser_groups
    ADD CONSTRAINT a_rtchat_customuser__customuser_id_0db019f4_fk_a_rtchat_ FOREIGN KEY (customuser_id) REFERENCES public.a_rtchat_customuser(userid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: a_rtchat_customuser_user_permissions a_rtchat_customuser__customuser_id_a5b84827_fk_a_rtchat_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_customuser_user_permissions
    ADD CONSTRAINT a_rtchat_customuser__customuser_id_a5b84827_fk_a_rtchat_ FOREIGN KEY (customuser_id) REFERENCES public.a_rtchat_customuser(userid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: a_rtchat_customuser_user_permissions a_rtchat_customuser__permission_id_8bcf382d_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_customuser_user_permissions
    ADD CONSTRAINT a_rtchat_customuser__permission_id_8bcf382d_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: a_rtchat_customuser_groups a_rtchat_customuser_groups_group_id_303faf8d_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_customuser_groups
    ADD CONSTRAINT a_rtchat_customuser_groups_group_id_303faf8d_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: a_rtchat_groupchat_members a_rtchat_groupchat_m_customuser_id_30070a47_fk_a_rtchat_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_groupchat_members
    ADD CONSTRAINT a_rtchat_groupchat_m_customuser_id_30070a47_fk_a_rtchat_ FOREIGN KEY (customuser_id) REFERENCES public.a_rtchat_customuser(userid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: a_rtchat_groupchat_members a_rtchat_groupchat_m_groupchat_id_ebe9b5fb_fk_a_rtchat_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_groupchat_members
    ADD CONSTRAINT a_rtchat_groupchat_m_groupchat_id_ebe9b5fb_fk_a_rtchat_ FOREIGN KEY (groupchat_id) REFERENCES public.a_rtchat_groupchat(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: a_rtchat_message a_rtchat_message_deleted_by_id_32520802_fk_a_rtchat_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_message
    ADD CONSTRAINT a_rtchat_message_deleted_by_id_32520802_fk_a_rtchat_ FOREIGN KEY (deleted_by_id) REFERENCES public.a_rtchat_customuser(userid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: a_rtchat_message a_rtchat_message_group_id_fdebf6a0_fk_a_rtchat_groupchat_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_message
    ADD CONSTRAINT a_rtchat_message_group_id_fdebf6a0_fk_a_rtchat_groupchat_id FOREIGN KEY (group_id) REFERENCES public.a_rtchat_groupchat(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: a_rtchat_message a_rtchat_message_private_chat_id_f7c81f06_fk_a_rtchat_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_message
    ADD CONSTRAINT a_rtchat_message_private_chat_id_f7c81f06_fk_a_rtchat_ FOREIGN KEY (private_chat_id) REFERENCES public.a_rtchat_privatechat(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: a_rtchat_message a_rtchat_message_reply_to_id_a2c96e93_fk_a_rtchat_message_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_message
    ADD CONSTRAINT a_rtchat_message_reply_to_id_a2c96e93_fk_a_rtchat_message_id FOREIGN KEY (reply_to_id) REFERENCES public.a_rtchat_message(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: a_rtchat_message a_rtchat_message_sender_id_19fe9695_fk_a_rtchat_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_message
    ADD CONSTRAINT a_rtchat_message_sender_id_19fe9695_fk_a_rtchat_ FOREIGN KEY (sender_id) REFERENCES public.a_rtchat_customuser(userid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: a_rtchat_privatechat a_rtchat_privatechat_user1_id_6da2d818_fk_a_rtchat_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_privatechat
    ADD CONSTRAINT a_rtchat_privatechat_user1_id_6da2d818_fk_a_rtchat_ FOREIGN KEY (user1_id) REFERENCES public.a_rtchat_customuser(userid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: a_rtchat_privatechat a_rtchat_privatechat_user2_id_9026c976_fk_a_rtchat_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.a_rtchat_privatechat
    ADD CONSTRAINT a_rtchat_privatechat_user2_id_9026c976_fk_a_rtchat_ FOREIGN KEY (user2_id) REFERENCES public.a_rtchat_customuser(userid) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_a_rtchat_customuser_userid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_a_rtchat_customuser_userid FOREIGN KEY (user_id) REFERENCES public.a_rtchat_customuser(userid) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

