{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utel global company limited</title>
    <title>chat (side bar)</title>
    <link rel="stylesheet" href="{% static 'css/side_bar.css' %}">
    <link rel="stylesheet" href="{% static 'a_rtchat/css/chat_area.css'%}">
    <link rel="stylesheet" href="{% static 'a_rtchat/css/createchat.css'%}">
    <link rel="stylesheet" href="{% static 'a_rtchat/css/filterfunctionality.css'%}">
    <link rel="stylesheet" href="{% static 'a_rtchat/css/unreadmarkers.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div class="app-container">
    <aside class="main-sidebar collapsed" id="mainSidebar">
    <div class="sidebar-toggle" id="sidebarToggle">
        <img src="{% static 'images/list-symbol-of-three-items-with-dots.png' %}" alt="chat icon" class="nav-icon">
    </div>
    <ul class="main-nav">
        <li class="nav-item">
            <a href="#" class="nav-link" data-content-target="chat-app">
              
                <img src="{% static 'images/chat (1).png' %}" alt="chat icon" class="nav-icon">
             
                <span class="nav-text">Chats</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-content-target="hr-content">
              <img src="{% static 'images/group.png' %}" alt="chat icon" class="nav-icon">
                <span class="nav-text">HR</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-content-target="finance-content">
               <img src="{% static 'images/dollar-symbol.png' %}" alt="chat icon" class="nav-icon">
                <span class="nav-text">Finance</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-content-target="it-content">
                <img src="{% static 'images/laptop.png' %}" alt="chat icon" class="nav-icon">
                <span class="nav-text">IT</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-content-target="settings-content">
               <img src="{% static 'images/setting (1).png' %}" alt="chat icon" class="nav-icon">
                <span class="nav-text">Settings</span>
            </a>
        </li>
    </ul>
    <div class="logout-section">
    <a href="{% url 'a_rtchat:logout' %}" class="nav-link">
        <img src="{% static 'images/logout.png' %}" alt="chat icon" class="nav-icon">
        <span class="nav-text">Logout</span>
    </a>

</aside>
{% block content %}

{% endblock %}
</div>
<script src="{% static 'js/side_bar.js' %}" defer ></script>
<script src="{% static 'a_rtchat/js/chat_area.js' %}" defer ></script>
<script src="{% static 'a_rtchat/js/filterfunctionality.js' %}" defer ></script>
<script src="{% static 'a_rtchat/js/createchat.js' %}" defer ></script>
</body>
</html>